

/* header-blue css */

.header-blue {
    background: linear-gradient(135deg, #172a74, #21a9af);
    background-color: #184e8e;
    padding-bottom: 80px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  @media (min-width:768px) {
    .header-blue {
      padding-bottom: 120px;
    }
  }
  
  .header-blue .navbar {
    background: transparent;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }
  
  @media (min-width:768px) {
    .header-blue .navbar {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  
  .header-blue .navbar .navbar-brand {
    font-weight: bold;
    color: inherit;
  }
  
  .header-blue .navbar .navbar-brand:hover {
    color: #f0f0f0;
  }
  
  .header-blue .navbar .navbar-collapse {
    border-top: 1px solid rgba(255,255,255,0.3);
    margin-top: .5rem;
  }
  
  @media (min-width:768px) {
    .header-blue .navbar .navbar-collapse {
      border-color: transparent;
      margin: 0;
    }
  }
  
  .header-blue .navbar .navbar-collapse span .login {
    color: #d9d9d9;
    margin-right: .5rem;
    text-decoration: none;
  }
  
  .header-blue .navbar .navbar-collapse span .login:hover {
    color: #fff;
  }
  
  .header-blue .navbar .navbar-toggler {
    border-color: rgba(255,255,255,0.3);
  }
  
  .header-blue .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
    background: none;
  }
  
  @media (min-width: 768px) {
    .header-blue .navbar-nav .nav-link {
      padding-left: .7rem;
      padding-right: .7rem;
    }
  }
  
  @media (min-width: 992px) {
    .header-blue .navbar-nav .nav-link {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
  }
  
  .header-blue .navbar.navbar-light .navbar-nav .nav-link {
    color: #d9d9d9;
  }
  
  .header-blue .navbar.navbar-light .navbar-nav .nav-link:focus, .header-blue .navbar.navbar-light .navbar-nav .nav-link:hover {
    color: #fcfeff !important;
    background-color: transparent;
  }
  
  .header-blue .navbar .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 2px;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
    line-height: 2;
    color: #37434d;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
    background: #ebeff1;
  }
  
  .header-blue .action-button, .header-blue .action-button:not(.disabled):active {
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 40px;
    color: #ebeff1;
    box-shadow: none;
    text-shadow: none;
    padding: .3rem .8rem;
    background: transparent;
    transition: background-color 0.25s;
    outline: none;
  }
  
  .header-blue .action-button:hover {
    color: #fff;
  }
  
  .header-blue .navbar .form-inline label {
    color: #d9d9d9;
  }
  
  .header-blue .navbar .form-inline .search-field {
    display: inline-block;
    width: 80%;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    color: #ccc;
    box-shadow: none;
    color: inherit;
    transition: border-bottom-color 0.3s;
  }
  
  .header-blue .navbar .form-inline .search-field:focus {
    border-bottom: 1px solid #ccc;
  }
  
  .header-blue .hero {
    margin-top: 20px;
    text-align: center;
  }
  
  @media (min-width:768px) {
    .header-blue .hero {
      margin-top: 60px;
      text-align: left;
    }
  }
  
  .header-blue .hero h1 {
    color: #fff;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4;
  }
  
  @media (min-width:992px) {
    .header-blue .hero h1 {
      margin-top: 190px;
      margin-bottom: 24px;
      line-height: 1.2;
    }
  }
  
  .header-blue .hero p {
    color: rgba(255,255,255,0.8);
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
  }
  
  .header-blue .phone-holder {
    text-align: right;
  }
  
  .header-blue div.iphone-mockup {
    position: relative;
    max-width: 300px;
    margin: 20px;
    display: inline-block;
  }
  
  .header-blue .iphone-mockup img.device {
    width: 100%;
    height: auto;
  }
  
  .header-blue .iphone-mockup .screen {
    position: absolute;
    width: 88%;
    height: 77%;
    top: 12%;
    border-radius: 2px;
    left: 6%;
    border: 1px solid #444;
    background-color: #aaa;
    overflow: hidden;
    background: url(../../assets/img/screen-content-iphone-6.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .header-blue .iphone-mockup .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -12%;
    right: -60%;
    transform: rotate(-19deg);
    opacity: 0.2;
  }
  
  



  /* navigation-clean css */

  .navigation-clean {
    background: #fff;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #333;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
  }
  
  @media (min-width:768px) {
    .navigation-clean {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  
  .navigation-clean .navbar-brand {
    font-weight: bold;
    color: inherit;
  }
  
  .navigation-clean .navbar-brand:hover {
    color: #222;
  }
  
  .navigation-clean.navbar-dark .navbar-brand:hover {
    color: #f0f0f0;
  }
  
  .navigation-clean .navbar-brand img {
    height: 100%;
    display: inline-block;
    margin-right: 10px;
    width: auto;
  }
  
  .navigation-clean .navbar-toggler {
    border-color: #ddd;
  }
  
  .navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
    background: none;
  }
  
  .navigation-clean.navbar-dark .navbar-toggler {
    border-color: #555;
  }
  
  .navigation-clean .navbar-toggler {
    color: #888;
  }
  
  .navigation-clean.navbar-dark .navbar-toggler {
    color: #eee;
  }
  
  .navigation-clean .navbar-collapse, .navigation-clean .form-inline {
    border-top-color: #ddd;
  }
  
  .navigation-clean.navbar-dark .navbar-collapse, .navigation-clean.navbar-dark .form-inline {
    border-top-color: #333;
  }
  
  .navigation-clean .navbar-nav > .active > a, .navigation-clean .navbar-nav > .show > a {
    background: none;
    box-shadow: none;
  }
  
  .navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
    color: #8f8f8f;
    box-shadow: none;
    background: none;
    pointer-events: none;
  }
  
  .navigation-clean.navbar .navbar-nav .nav-link {
    padding-left: 18px;
    padding-right: 18px;
  }
  
  .navigation-clean.navbar-light .navbar-nav .nav-link {
    color: #465765;
  }
  
  .navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
    color: #37434d !important;
    background-color: transparent;
  }
  
  .navigation-clean .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: none;
    background-color: #fff;
    border-radius: 2px;
  }
  
  @media (min-width:768px) {
    .navigation-clean .navbar-nav .show .dropdown-menu {
      box-shadow: 0 4px 8px rgba(0,0,0,.1);
    }
  }
  
  @media (max-width:767px) {
    .navigation-clean .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #37434d;
      padding-top: .8rem;
      padding-bottom: .8rem;
      line-height: 1;
    }
  }
  
  .navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
    line-height: 2;
    color: #37434d;
  }
  
  .navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
    background: #eee;
    color: inherit;
  }
  
  .navigation-clean.navbar-dark {
    background-color: #1f2021;
    color: #fff;
  }
  
  .navigation-clean.navbar-dark .navbar-nav a.active, .navigation-clean.navbar-dark .navbar-nav a.active:focus, .navigation-clean.navbar-dark .navbar-nav a.active:hover {
    color: #8f8f8f;
    box-shadow: none;
    background: none;
    pointer-events: none;
  }
  
  .navigation-clean.navbar-dark .navbar-nav .nav-link {
    color: #dfe8ee;
  }
  
  .navigation-clean.navbar-dark .navbar-nav .nav-link:focus, .navigation-clean.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: transparent;
  }
  
  .navigation-clean.navbar-dark .navbar-nav > li > .dropdown-menu {
    background-color: #1f2021;
  }
  
  .navigation-clean.navbar-dark .dropdown-menu .dropdown-item:focus, .navigation-clean.navbar-dark .dropdown-menu .dropdown-item {
    color: #f2f5f8;
  }
  
  .navigation-clean.navbar-dark .dropdown-menu .dropdown-item:focus, .navigation-clean.navbar-dark .dropdown-menu .dropdown-item:hover {
    background: #363739;
  }
  
  @media (max-width:767px) {
    .navigation-clean.navbar-dark .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #fff;
    }
  }
  

  

  /* highlight-clean css */

  .highlight-clean {
    color: #313437;
    background-color: #fff;
    padding: 50px 0;
  }
  
  .highlight-clean p {
    color: #7d8285;
  }
  
  .highlight-clean h2 {
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: inherit;
  }
  
  .highlight-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 25px;
  }
  
  .highlight-clean .buttons {
    text-align: center;
  }
  
  .highlight-clean .buttons .btn {
    padding: 16px 32px;
    margin: 6px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
    outline: none;
    background-color: #ddd;
  }
  
  .highlight-clean .buttons .btn:hover {
    opacity: 1;
  }
  
  .highlight-clean .buttons .btn:active {
    transform: translateY(1px);
  }
  
  .highlight-clean .buttons .btn-primary {
    background-color: #055ada;
    color: #fff;
  }
  

  


/* lighbox-gallery css */

.photo-gallery {
    color: #313437;
    background-color: #fff;
  }
  
  .photo-gallery p {
    color: #7d8285;
  }
  
  .photo-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
  }
  
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    }
  }
  
  .photo-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom: 0;
  }
  
  .photo-gallery .photos {
    padding-bottom: 20px;
  }
  
  .photo-gallery .item {
    padding-bottom: 30px;
  }
  

  

  /* article-dual css */

  .article-dual-column {
    color: #56585b;
    background-color: #fff;
    font-family: 'Lora', serif;
    font-size: 14px;
  }
  
  .article-dual-column .intro {
    font-size: 16px;
    margin: 0 auto 30px;
  }
  
  .article-dual-column .intro h1 {
    font-size: 32px;
    margin-bottom: 15px;
    padding-top: 20px;
    line-height: 1.5;
    color: inherit;
    margin-top: 25px;
  }
  
  .article-dual-column .intro p {
    color: #929292;
    font-size: 12px;
  }
  
  .article-dual-column .intro p .by {
    font-style: italic;
  }
  
  .article-dual-column .intro p .date {
    text-transform: uppercase;
    padding: 4px 0 4px 10px;
    margin-left: 10px;
    border-left: 1px solid #ddd;
  }
  
  .article-dual-column .intro p a {
    color: #333;
    text-transform: uppercase;
    padding-left: 3px;
  }
  
  .article-dual-column .intro img {
    margin-top: 25px;
  }
  
  .article-dual-column .text p {
    margin-bottom: 20px;
    line-height: 1.45;
  }
  
  @media (min-width:768px) {
    .article-dual-column .text p {
      font-size: 16px;
    }
  }
  
  .article-dual-column .text h2 {
    margin-top: 28px;
    margin-bottom: 20px;
    line-height: 1.45;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  @media (min-width:768px) {
    .article-dual-column .text h2 {
      font-size: 20px;
    }
  }
  
  .article-dual-column .text figure {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .article-dual-column .text figure img {
    margin-bottom: 12px;
    max-width: 100%;
  }
  
  @media (max-width:767px) {
    .article-dual-column .toc {
      border: 1px solid #d3d3d3;
      padding: 20px 0 15px;
      margin-bottom: 20px;
      border-width: 1px 0;
    }
  }
  
  .article-dual-column .toc p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }
  
  .article-dual-column .toc ul {
    padding-left: 20px;
    font-size: 13px;
    margin-bottom: 0;
  }
  
  .article-dual-column .toc li {
    padding: 2px 0;
  }
  
  .article-dual-column .toc a {
    color: inherit;
  }
  

  
  /* project-clean css */

  .projects-clean {
    color: #313437;
    background-color: #fff;
  }
  
  .projects-clean p {
    color: #7d8285;
  }
  
  .projects-clean h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
  }
  
  @media (max-width:767px) {
    .projects-clean h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    }
  }
  
  .projects-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .projects-clean .intro p {
    margin-bottom: 0;
  }
  
  .projects-clean .projects {
    padding-bottom: 40px;
  }
  
  .projects-clean .item {
    text-align: center;
    padding-top: 50px;
    min-height: 425px;
  }
  
  .projects-clean .item .name {
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 8px;
    color: inherit;
  }
  
  .projects-clean .item .description {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  

  
  /* testimonial css */

  .testimonials-clean {
    color: #313437;
    background-color: #eef4f7;
  }
  
  .testimonials-clean p {
    color: #7d8285;
  }
  
  .testimonials-clean h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
  }
  
  @media (max-width:767px) {
    .testimonials-clean h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    }
  }
  
  .testimonials-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .testimonials-clean .intro p {
    margin-bottom: 0;
  }
  
  .testimonials-clean .people {
    padding: 50px 0 20px;
  }
  
  .testimonials-clean .item {
    margin-bottom: 32px;
  }
  
  @media (min-width:768px) {
    .testimonials-clean .item {
      height: 220px;
    }
  }
  
  .testimonials-clean .item .box {
    padding: 30px;
    background-color: #fff;
    position: relative;
  }
  
  .testimonials-clean .item .box:after {
    content: '';
    position: absolute;
    left: 30px;
    bottom: -24px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-width: 12px 15px;
    border-top-color: #fff;
  }
  
  .testimonials-clean .item .author {
    margin-top: 28px;
    padding-left: 25px;
  }
  
  .testimonials-clean .item .name {
    font-weight: bold;
    margin-bottom: 2px;
    color: inherit;
  }
  
  .testimonials-clean .item .title {
    font-size: 13px;
    color: #9da9ae;
  }
  
  .testimonials-clean .item .description {
    font-size: 15px;
    margin-bottom: 0;
  }
  
  .testimonials-clean .item img {
    max-width: 40px;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
  }



  /* newsletter-subscription css */

  .newsletter-subscribe {
    color: #313437;
    background-color: #fff;
    padding: 50px 0;
  }
  
  .newsletter-subscribe p {
    color: #7d8285;
    line-height: 1.5;
  }
  
  .newsletter-subscribe h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: inherit;
  }
  
  .newsletter-subscribe .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 25px;
  }
  
  .newsletter-subscribe .intro p {
    margin-bottom: 35px;
  }
  
  .newsletter-subscribe form {
    justify-content: center;
  }
  
  .newsletter-subscribe form .form-control {
    background: #eff1f4;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 9px;
    height: 45px;
    margin-right: 10px;
    min-width: 250px;
  }
  
  .newsletter-subscribe form .btn {
    padding: 16px 32px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
  }
  
  .newsletter-subscribe form .btn:hover {
    opacity: 1;
  }
  
  .newsletter-subscribe form .btn:active {
    transform: translateY(1px);
  }
  
  .newsletter-subscribe form .btn-primary {
    background-color: #055ada !important;
    color: #fff;
    outline: none !important;
  }
  
  
  

  
  /* footer-dark css */
  .footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
  }
  
  .footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
  }
  
  .footer-dark ul a:hover {
    opacity: 0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align: center;
      padding-bottom: 20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom: 36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom: 0;
    }
  }
  
  .footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
  }
  
  .footer-dark .item.social {
    text-align: center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align: center;
      margin-top: 20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity: 0.9;
  }
  
  .footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
  }
  
  